

      .border-box,a,article,body,code,dd,div,dl,dt,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,html,input[type=email],input[type=number],input[type=password],input[type=tel],input[type=text],input[type=url],legend,li,main,ol,p,pre,section,table,td,textarea,th,tr,ul{
      box-sizing:border-box
      }
      .fw4 {
      font-weight: 400;
      }
      .link {
      text-decoration: none;
      transition: color .15s ease-in;
      }

      .link:link, .link:visited {
      transition: color .15s ease-in;
      }

      .link:hover {
      transition: color .15s ease-in;
      }

      .link:active {
      transition: color .15s ease-in;
      }

      .link:focus {
      transition: color .15s ease-in;
      outline: 1px dotted currentColor;
      }
      .mb0 {
      margin-bottom: 0;
      }

      .mt2 {
      margin-top: .5rem;
      }
      .ttu {
      text-transform: uppercase;
      }
      .ba {
      border-style: solid;
      border-width: 1px;
      }

      .bt {
      border-top-style: solid;
      border-top-width: 1px;
      }

      .bb {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      }
      .br-100 {
      border-radius: 100%;
      }
      .dib {
      display: inline-block;
      }


      .baskerville {
      font-family: baskerville, serif;
      }

      .i {
      font-style: italic;
      }

      .fw1 {
      font-weight: 100;
      }


      .h2 {
      height: 2rem;
      }

      .tracked {
      letter-spacing: .1em;
      }


      .mw7 {
      max-width: 48rem;
      }

      .w2 {
      width: 1rem;
      }

      .black-80 {
      color: rgba(0, 0, 0, .8);
      }
      .pink{
      color: #f4427d ;
      }
      .bg-white {
      background-color: #fff;
      }
      .hover-bg-light-pink:hover {
      background-color: #ffa3d7;
      }

      .hover-bg-light-pink:focus {
      background-color: #ffa3d7;
      }
      .pa3 {
      padding: 1rem;
      }

      .pv4 {
      padding-top: 2rem;
      padding-bottom: 2rem;
      }


      .mt4 {
      margin-top: 2rem;
      }

      .tc {
      text-align: center;
      }


      .f1 {
      font-size: 3rem;
      }

      .f6 {
      font-size: .875rem;
      }

      .center {
      margin-right: auto;
      margin-left: auto;
      }
      .bg-animate, .bg-animate:hover, .bg-animate:focus {
      transition: background-color .15s ease-in-out;
      }

      @media screen and (min-width: 60em) {
      .ph4-l {
      padding-left: 2rem;
      padding-right: 2rem;
      }

      .f5-l {
      font-size: 1rem;
      }
      }
      .avenir {font-family:avenir next,avenir,sans-serif}
      @media screen and (min-width: 30em) and (max-width: 60em) {

      .w-50-m {
      width: 50%;
      }
      }




              .ph2 {
              padding-left: .5rem;
              padding-right: .5rem;
              }
              .bg-pink {
              background-color: #f96ba0;
              }
              .aspect-ratio {
              height: 0;
              position: relative;
              }

              .aspect-ratio--1x1 {
              padding-bottom: 100%;
              }

              .aspect-ratio--object {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 100;
              }

              .cover {
              background-size: cover !important;
              }

              .bg-center {
              background-repeat: no-repeat;
              background-position: center center;
              }

              .cf:after,.cf:before {
              content:" ";display:table
              }

              .cf:after {
              clear:both
              }

              .cf {
              *zoom:1
              }

              .db {
              display: block;
              }

              .fl {
              float: left;
              _display: inline;
              }
              .black-90 {
              color: rgba(0, 0, 0, .9);
              }

              .black-60 {
              color: rgba(0, 0, 0, .6);
              }

              .pb3 {
              padding-bottom: 1rem;
              }



              .f5 {
              font-size: 1rem;
              }
              .b {
              font-weight: bold;
              }

              .lh-solid {
              line-height: 1;
              }

              .black-70 {
              color: rgba(0, 0, 0, .7);
              }
              .pv6 {
              padding-top: 8rem;
              padding-bottom: 8rem;
              }




    .br4 {
    border-radius: 1rem;
    }
    .b--pink {
    border-color: #f96ba0;
    }


.b--black {
border-color: #000;
}
.br-pill {
border-radius: 9999px;
}
.bg-black-80 {
background-color: rgba(0, 0, 0, .8);
}
.w-100 {
width: 100%;
}
.b--black-10 {
border-color: rgba(0, 0, 0, .1);
}
.ph3 {
padding-left: 1rem;
padding-right: 1rem;
}
.f3 {
font-size: 1.5rem;
}

.dim {
opacity: 1;
transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
opacity: .5;
transition: opacity .15s ease-in;
}

.dim:active {
opacity: .8;
transition: opacity .15s ease-out;
}




@media screen and (min-width: 30em) {
.w-25-ns {
width: 25%;
}

.pa2-ns {
padding: .5rem;
}

.ph0-ns {
padding-left: 0;
padding-right: 0;
}

.f4-ns {
font-size: 1.25rem;
}
}
@media screen and (min-width: 30em) {
.ph4-ns {
padding-left: 2rem;
padding-right: 2rem;
}

.f2-ns {
font-size: 2.25rem;
}
}
